* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.kaushik {
  background-color: #61dafb;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  /* max-width: 1000px; */
}

.se_1_bg {
  background-image: url(../public/img/Samsung-Galaxy-Unpacked-2022-All-Products.jpg);
  height: 90.1vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: antiquewhite;
  background-blend-mode: multiply;
}

.home_text h1 {
  text-align: center;
  padding: 5px 0;
  font-size: 5rem;
  color: blueviolet;
}


.kaushik-light {
  color: #222;
  background: #fff;
}

.kaushik-dark {
  color: #fff;
  background: rgb(23, 32, 42);
}


.panel-light {
  color: #222;
  background: #fff;
}

.panel-dark {
  color: #fff;
  background: rgb(23, 32, 42);
}

.wrapper {
  margin: 20px 0;
  display: flex;
}



input[type="checkbox"] {
  appearance: none;
  width: 80px;
  height: 25px;
  border-radius: 40px;
  background: #ddd;
  position: relative;
  outline: 0;
  cursor: pointer;
}

input[type="checkbox"]:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: hotpink;
  border-radius: 40px;
  transform-origin: 50% 50%;
  transform: scale(0);
  transition: all .35s;
}

input[type="checkbox"]:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  background: #ffff;
  border-radius: 50%;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  transition: all .35s;
}

input[type="checkbox"]:checked:before {
  transform: scale(1);
}

input[type="checkbox"]:checked:after {
  left: calc(100% - 37px);
}